.web{
    display: flex;
    flex: 1;
    align-items: center;

}
.web-options{
    font-size: 20px;
    margin-right:16px;
    font-weight: 600;
    font-family: 'Rampart One', cursive;
}
.web-options a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    display: flex;

}
.option-icon{
    display: flex;
    align-items: center;
    margin: 0px;
}
.web-options:last-child{
    margin-right: 0px;
}