.skills{
    display: flex;
    flex: 1;
    flex-direction: column;
   
}

.skill-label{
font-size: 32px;
font-weight: 600;
color: rgb(19, 184, 184);
font-family: 'Rampart One', cursive;

}

.nameCard{
    flex-direction: column;
    flex: 1;
    
}
.lableTag{
    font-size: 20px;
    font-weight: 400;
   
    color: #000;
}
.img{
    width: 30%;
}
/* .imagelocation{
  
    flex-direction: row;

} */
