.project-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}
.title{
    font-size: 24px;
    font-weight: 600;
}
.projectphoto{
    width: 30%;
    height: 30%;
}
.project-info{
    margin-right: 24px;
}
.tag{
display: flex;
max-width: 80%;
flex-wrap: wrap;
position: absolute;

flex: 1;
flex-direction: row;


}

.tag-lable{
    padding: 4px 8px;
    background-color: rgb(160, 180, 180);
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
}
@media only screen and (max-width:720px){
    .projectphoto{
        width: 70%;
    }
    .project-info{
        margin-left: 0px;
        margin-top: 12px;
    }
    .tag{
       
        max-width: 100%;
        
        }
}