.about{
    padding-bottom: 48px;


}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo{
    height: 200px;
    
}
.about-info{
    font-size: 24px;
    font-weight: 600;
    
}
.name{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Rampart One', cursive;
    color: rgb(36, 37, 37);
}
.box {
    border: 2px solid rgb(3, 3, 3) ;
    padding: 10px 20px 20px;
  }
@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-info{
        font-size: 20px;
    }
    .photo{
        height: 150px;
    }
}